form(method="post")
  fieldset
    legend Add the following two numbers: #{data.d1} and #{data.d2}
    p
      label What is your answer?
        input(type="text", name="answer")
  p.buttons
    input(type="submit", value="Submit")